<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="restlessmedia">
      <section name="email" type="restlessmedia.Module.Email.Configuration.EmailSettings, restlessmedia.Module.Email" />
    </sectionGroup>
  </configSections>
  <restlessmedia>
    <email from="noReply" apiKey="test-key">
      <addresses>
        <add name="noReply" email="BlakeStanley &lt;no-reply@blakestanley.co.uk&gt;" />
      </addresses>
    </email>
  </restlessmedia>
</configuration>